@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --cor-primaria:black; 
    --cor-secundaria:#F6F6F6 ;
    --cor-terciaria:#0075f8;
    --cor-hover: #0075f8;
    --fonte-primaria: "Sans serif";
}

*{
    margin: 0;
    padding: 0;
}

body {
   /* height: 80vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
}


.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

h1{
    font-weight: bold;
}

span {
    color: var(--cor-terciaria);
           
         

}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;


}

.apresentacao__links__links {
    /*background-color: #cd3102; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 280PX;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6; 
    font-weight: 600px;
    font-family: var(--fonte-primaria);


}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;


}

.apresentacao__links__links:hover {
    background-color: var(--cor-terciaria);
}

.apresentação__imagem {
    width: 50%
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-terciaria);
}

.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);

}

@media (max-width: 1000px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
}